<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mystery Word Game</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300i,400,500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700" rel="stylesheet">
</head>

<body>
    <div class="title-container">
        <h1 class="title">Word Game</h1>
        <div>
            <a href="/newgame">New Game!</a>

        </div>
    </div>
    <div class="container">
        <div class="main-content">

            {{#turns}}
            <h2 class="">Turns Left: {{.}}</h2>{{/turns}}

            <div class="wrong-guesses">
                <h2 class="wrong">Wrong Guesses:</h2><br>
            </div>

            <div class="wrong-letter-container">
                <p class="wrong-letter">{{#wrongGuesses}}{{.}}&nbsp;{{/wrongGuesses}}</p>
            </div>
            <p class="no-guess">{{^wrongGuesses}} No Guesses Yet {{/wrongGuesses}}</p>
            <form action="/word/guess" method="POST">
                <div class="letter-blanks">
                    <h3>{{#displayArray}}<span class="letterGuess"> {{.}} </span>{{/displayArray}}</h3>
                </div>
                <input type="text" name="letterGuess" placeholder="Guess A Letter" maxlength=1 pattern="[a-z]" autocomplete="off" title="Must be a letter!"
                    required>
                <button type="submit">Guess</button> {{#word}}
                <h2>{{#message}}{{.}}{{/message}}</h2>
            </form>
        </div>
    </div>
    {{/word}}
</body>

</html>